# dependencies
node_modules/

# build
dist/

# mac files
.DS_Store
**/.DS_Store

# logs
*.log

# env
.env

# cache / temp
memory/

# vite temp files
vite.config.js.timestamp-*.mjs

# optional
public/llms.txt